body {
  filter: invert(0%);
}

#home {
  text-align: center;
  padding: 200px;
}

.sub-header {
  color: gray;
}

.btn-enter {
  background-color: lightgray;
  width: 150px !important;
}

.list {
  padding: 0;
  width: 25%;
  min-height: 100%;
  height: 100%;
  float: left;
}

.reviewBody {
  float: right;
}
